@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: Arial, Helvetica, sans-serif;
}

#weather-main{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}